<h2>Szczegóły klienta</h2>

<div>
  <p>
    <b>Imię i nazwisko:</b>
    <%= h @client.name + " " + @client.last_name %>
  </p>

  <p>
    <b>Email/login:</b>
    <%= h @client.email %>
  </p>

  <p>
    <b>Telefon:</b>
    <%= h @client.telephone %>
  </p>

  <p>
    <b>Ulica(nazwa wsi):</b>
    <%= h @client.street %>
  </p>

  <p>
    <b>Numer budynku / numer lokalu</b>
    <%= h "#{@client.building_no}" %> <%= @client.place_no.blank? ? "" : "/ #{@client.place_no}" %>
  </p>

  <p>
    <b>Miasto(poczta), kod pocztowy:</b>
    <%= h @client.city + " " + @client.code %>
  </p>

  <% unless @client.description.blank? %>
      <p>
        <b>Uwagi/opis:</b>
      </p>
      <%= @client.description %>
  <% end %>

  <% unless @client.private? %>
      <p>
        <b>Nazwa firmy:</b>
        <%= h @client.company %>
      </p>

      <p>
        <b>NIP firmowy:</b>
        <%= h @client.company_nip %>
      </p>
  <% end %>

  <br/>

  <div style="text-align: center;">
    <%= link_to image_tag("icons/info.png", :size => "16x16"), [:admin, @client], :title => "Szczegóły" %>
    <%= link_to image_tag("icons/letter.png", :size => "16x16"), new_admin_message_path(client_id: @client.id), :title => "Wyślij wiadomość do Klienta" %>
    <%= link_to image_tag("icons/modify.png", :size => "16x16"), edit_admin_client_path(@client), :title => "Edycja" %>
    <%= link_to image_tag("icons/trash.png", :size => "16x16"), [:admin, @client], :confirm => 'Czy jesteś pewien?', :method => :delete, :title => "Usuń" %>
  </div>
</div>

<h2>Zamówienia klienta</h2>

<table style="width: 100%">
  <tr>
    <th>Numer</th>
    <th>Status</th>
    <th></th>
  </tr>

  <% @client.orders.each do |order| %>
      <tr>
        <td><%= h link_to order.number, [:admin, order] %></td>
        <td>
          <div id="<%= "status_#{order.id}" %>">
            <%= order.status_text %>
          </div>
        </td>
        <td>
          <%= link_to image_tag("icons/info.png", :size => "16x16"), [:admin, order], :title => "Szczegóły" %>
          <%= link_to image_tag("icons/padlock.png", :size => "16x16"), {:controller => "admin/orders", :action => "mark_as_sent", :id => order, :status => 4}, {:remote => true, :title => "Oznacz jako przedsprzedaż"} %>
          <%= link_to image_tag("icons/delete.png", :size => "16x16"), {:controller => "admin/orders", :action => "mark_as_sent", :id => order, :status => 6}, {:remote => true, :title => "Oznacz jako anulowane"} %>
          <%= link_to image_tag("icons/email.png", :size => "16x16"), {:controller => "admin/orders", :action => "mark_as_sent", :id => order, :status => 5}, {:remote => true, :title => "Wyślij powiadomienie do klienta"} %>
          <%= link_to image_tag("icons/delivery.png", :size => "16x16"), {:controller => "admin/orders", :action => "mark_as_sent", :id => order, :status => 3}, {:remote => true, :title => "Oznacz jako zrealizowane"} %>
        </td>
      </tr>
  <% end %>
</table>

<h2>Wiadomości wysłane do klienta</h2>

<table style="width: 100%;">
    <tr>
      <th>Odbiorca</th>
      <th>Tytuł</th>
      <th>Użytkownik</th>
      <th>Wysłano</th>
      <th></th>
    </tr>

    <% @client.messages.each do |message| %>
        <tr>
          <td><%= message.name %></td>
          <td><%= message.title %></td>
          <td><%= link_to message.user.full_name, [:admin, message.user] %></td>
          <td><%= l message.created_at %></td>
          <td>
            <%= link_to image_tag("icons/info.png", :size => "16x16"), [:admin, message], :title => "Szczegóły" %>
            <%= link_to image_tag("icons/trash.png", :size => "16x16"), [:admin, message], :confirm => 'Czy jesteś pewien?', :method => :delete, :title => "Usuń" %>
          </td>
        </tr>
    <% end %>
  </table>