<h1>Lista paczkomatów</h1>


<div style="text-align: center;">
  <%= will_paginate(@pack_machines) %>
</div>

<table style="width: 100%;">
  <tr>
    <th>Nazwa</th>
    <th>Województwo</th>
    <th>Miasto</th>
    <th>Ulica, nr</th>
    <th>Współrzędne</th>
    <th></th>
  </tr>

  <% @pack_machines.each do |pack_machine| %>
      <tr>
        <td><%= pack_machine.name %></td>
        <td><%= pack_machine.province %></td>
        <td><%= pack_machine.town %> <%= pack_machine.postcode %></td>
        <td><%= pack_machine.street %> <%= pack_machine.building_number %></td>
        <td><%= pack_machine.latitude %> / <%= pack_machine.longitude %></td>
        <td>
          <%= link_to image_tag("icons/info.png", :size => "16x16"), [:admin, pack_machine], :title => "Szczegóły" %>
        <td>
      </tr>
  <% end %>
</table>

<div style="text-align: center;">
  <%= will_paginate(@pack_machines) %>
</div>